# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# MacOS
*.DS_Store

# Fabric
run/
*.log

# Minecraft
saves/
screenshots/
crash-reports/

# Temporary files
*.tmp
*.temp
